NODE_ENV=development
APP_URL=localhost

LOGGING=dev

# Normal configuration
# DB_CONNECTION=mysql
# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_DATABASE=
# DB_USERNAME=
# DB_PASSWORD=

# Docker configuration
DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

PORT=9000

JWT_SECRET_KEY=
SESSION_SECRET_KEY=

CLIENT_URL=http://localhost:3000

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:3000/callback/google

SWAGGER_USERNAME=admin
SWAGGER_PASSWORD=

VNP_SANDBOX_HOST_API=https://sandbox.vnpayment.vn
VNP_VERSION=2.1.0
VNP_CURRENCY_CODE=VND
VNP_DEFAULT_COMMAND=pay
VNP_GET_BANK_ENDPOINT=
VNP_PAYMENT_ENDPOINT=
VNP_QUERY_DR_REFUND_ENDPOINT=